<%= link_to("<< Back to List", pages_path, :class => 'back-link') %>

<div class="pages new">
  <h2>Create Page</h2>

  <%= form_for(@page) do |f| %>

  <!-- The above table is replaced by below code -->
  <!-- the next render sends/connects to to _form.html.erb -->
  <!-- f.text in _form.html.erb also define below -->
    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Page") %>
    </div>

  <% end %>
</div>
